body.main { margin: 60px auto; width: 70%; height: 100%; }

a.main { text-decoration: none; color: #999; }
a.main:hover { text-decoration: underline; }

p.main, ul.main { font-size: 1.5em; line-height: 1.4em; color: #333; }

h1.main, h2.main, h3.main, h4.main { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1.main { font-size: 3em;  }
h2.main { font-size: 2.7em; }
h3.main { font-size: 2.3em; }
h4.main { font-size: 1.9em; }

nav.main ul, footer.main ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav.main ul li, footer.main ul li { display: inline; margin-right: 20px; }

footer.main { border-top: 1px solid #d5d5d5; font-size: .8em; }

iframe.main {display: inline; position: absolute; width: 100%; height:calc(100% - .9em); border: none;}

.flex-init-setup {
     display: -webkit-box;
     display: -moz-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
 }
 .flex-ppal-setup {
     -webkit-flex-flow: column wrap;
     -moz-flex-flow: column wrap;
     flex-flow: column wrap;
     -webkit-justify-content: center;
     -moz-justify-content: center;
     justify-content: center;
 }
