<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/tours/css/all.css">
		<link rel="stylesheet" type="text/css" href="/tours/css/main.css">
	</head>
	<body class="main">
		<nav class="main">
      <ul>
        <li><a class="main" href="/tours">Home</a></li>
        <li><a class="main" href="/tours/about">About</a></li>
        <li><a class="main" href="/tours/tours_pages/tours">Tours</a></li>
      </ul>
		</nav>
		<div class="container">
      <div class="blurb">
        
        {{ content }}
        
      </div><!-- /.blurb -->
    </div><!-- /.container -->
		<footer class="main">
      <ul>
        <li><a class="main" href="mailto:nick@wagner.ai">email</a></li>
        <li><a class="main" href="tel:610-428-9482">610-428-9482</a></li>
		  </ul>
	  </footer>
  </body>
</html>
